

$colors:(
  banner-bg: #1a1a2e,
  accent-color1:#e94560,
  accent-color2:#e94560,
  banner-font-color: white,
  menu-btn-color: white,
  banner-discription-color: rgb(204, 204, 204),
);

@function colors($color){
  @return map-get($map: $colors, $key: $color);
}



/*nav*/


/*banner */
.banner{
   background: colors(banner-bg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat ;
  color: colors(banner-font-color);
  padding: 80px 0  ;
  position: relative;
  z-index: -10;
  .wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
  }
  .banner-content{
    .title{
     font-family: 'Satisfy', cursive;
     font-size: 1.7em;
     color: colors(accent-color1)
    }
    .caption{
      font-size: 2.5em;
      font-weight: bold;
      line-height: 0.9;
      text-transform: capitalize;
      margin: 20px 0;
    }
    .description{
      font-size: 0.9em;
      color: colors(banner-discription-color);
    } 
    .links{
       display: flex;
       flex-direction: column;
       margin: 20px 0;
      .demo-btn{
          background: linear-gradient(to right, colors(accent-color1), colors(accent-color2));
          border-radius: 35px;
          padding: 15px 30px;
          color: colors(banner-font-color);
          text-transform: capitalize;
          display: block;
          width: fit-content;
         
        }
        .video{
          display: flex;
          align-items: center;
          margin: 15px 0px;
             .play-btn{
              background: linear-gradient(to right, colors(accent-color1), colors(accent-color2));
          border-radius: 35px;
          padding: 15px 30px;
          color: colors(banner-font-color);
          text-transform: capitalize;
          display: block;
          width: fit-content;
          animation: expand 1500ms ease;
          animation-iteration-count: infinite; 
          
             }
             @keyframes expand{
               0%{
                 box-shadow:  0 0 0 0px colors(accent-color1);
               }
               50%{
                 box-shadow: 0 0 0 10px rgba(128, 128, 128, 0);
               }
               100%{
                  box-shadow: 0 0 0 10px rgba(128, 128, 128, 0);
               }
             }
            
        }
    }
  }
  .banner-img{

     img{
       width: 100%;
       margin-bottom: 30px;
     }

  }
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 86px;
}

.wave .shape-fill {
    fill: #fdfbfb;
}


@media (max-width: 767px) {
    .wave svg {
        width: calc(150% + 1.3px);
        height: 36px;
    }
}
  
}



@media only screen and (min-width: 576px){
 

  .banner{
    .banner-img{
      width: 70%;
      align-self: center;
    }
     .banner-content{
         width: 70%;
        .links{
      .demo-btn{
        margin: 20px 0;
      }
    }
     }
  }
}
@media only screen and (min-width: 768px){
   .banner{
     padding-bottom: 50px;
     .wrapper{
       flex-direction: row;
       align-items: center;
       .banner-img{
          order: 2;
       }
       .banner-content{
         .caption{
           font-size: 3em;
         
         }
         .description{
           width: 70%;
         }
         width: fit-content;
         .links{
           flex-direction: row;
           .video{
             font-size: 0.8em;
             margin-left: 30px;
             .play-btn{
              padding: 15px 30px;
               
             }
           }
         }
         .demo-btn{
           font-size: 0.8em;
          
         }
       }
     }
   }

   
}
@media only screen and (min-width: 992px){
  body{
    font-size: 18px;
  }
 
  .banner{
    padding: 70px 0 130px;
     .wrapper{
       .banner-content{
         
         .title{
           font-size: 2em;
         }
         .caption{
           font-size: 4em;;
           margin: 10px 0 50px;
          
           
         }
       }
     }
  }
}

@media only screen and (min-width: 1200px){
  body{
    font-size: 20px;
  }
 
  .banner{
    padding-top: 100px;
    .wrapper{
      .banner-content{
        .caption{
          margin-bottom: 80px;
        }
        .links{
          .demo-btn{
                      padding: 20px 30px;
          }
          .video{
            .play-btn{
                        padding: 20px 30px;
            }
          }
        }
      }
      
    }
  }
}