

$colors:(
  banner-bg: #1a1a2e,
  accent-color1:#e94560,
  accent-color2:#e94560,
  banner-font-color: white,
  menu-btn-color: white,
  banner-discription-color: rgb(204, 204, 204),
);

@function colors($color){
  @return map-get($map: $colors, $key: $color);
}



/*nav*/
nav{
  position: fixed;
  top: 0;
   left:0;
   width: 100%;
   background: colors(banner-bg);
   color: colors(banner-font-color);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   top:0;
   
   z-index: 100;
   .wrapper-2{ 
  padding: 20px 0;
   width: 80%;
     margin: 0 auto;
    height: fit-content;
    max-width: 1500px;
    display: none;

    a{
      color: white;
    }
    .menu{
      display: flex;
      align-items: center;
      text-transform: uppercase;
      li{
        margin: 0 10px;
        font-weight: 300;
        font-size: 0.9rem;
      }
    }
    .social-links{
              display: flex;
              align-items: center;
      a{
         margin: 0 10px;

      }
    }
   }
 .wrapper-1{
   
  display: flex;
  justify-content: space-between;
  align-items: center;
   width: 100%;
    height: fit-content;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    .logo{
      width: 200px;
      
    }
   .menu-btn{
     cursor: pointer;
     width: 30px;
     height: 30px;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     justify-content:space-around;
     align-items: center;
     z-index: 10;
     span{
       width: 90%;
       height: 4px;
       display: block;
       border-radius: 3px;
       background: colors(menu-btn-color);
       transform-origin: -3%;
       transition: transform 300ms linear, opacity 300ms  linear;
     
     }
     .menu-btn-color-change{
       background: black;
     }
   }
   
   .menu-btn-animation-1{
     transform: rotate(45deg);
   }
   .menu-btn-animation-2{
     transform: translateX(-100%);
     opacity: 0;
     
   }
   .menu-btn-animation-3{
      transform: rotate(-45deg);
      
   }
   
    .menu{
      display: flex;
      text-transform: capitalize  ;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: white;
      top: 0;
      left: 0;
      transform: translateX(100%);
      li{
        margin: 10px;
        a{
          padding: 10px;
          display: block;
          color: black;
          font-size: 1.3em;
          font-weight: bold;
        }
        .demo-btn{
          background: linear-gradient(to right, colors(accent-color1), colors(accent-color2));
          border-radius: 35px;
          padding: 20px 40px;
          color: white;
          font-size: 1.1em;

        }
      }
    }
    .menu-animation{
     transform: translateX(0%)
   }
 }
  .outer-wrapper{
    width: 80%;
    max-width: 1500px;
    height: fit-content;
     padding: 5px 0;
      margin: 0 auto;
  }
}

/*banner */




@media only screen and (min-width: 576px){
  nav{
    .wrapper-1{
      .menu-btn{
        display: none
      }
      .menu{
        position: static;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        transform: none;
        background: none;
          
        li{
          margin: 0 10px;
          a{
            padding: 0;
            font-size: 0.8em;
            color: colors(banner-font-color);
              font-weight: normal;
        
          }
          .demo-btn{
            font-size: 0.8em;
            padding: 10px 15px;
        
          }
        }
      }
    }
  }

  
}
@media only screen and (min-width: 768px){
   

   nav{
     position: static;
     height: fit-content;
     .wrapper-2{
       display: flex;
       justify-content: space-between;
       align-items: center;
       .menu{
         li{
           a{
             font-size: 0.7rem;
           }
         }
       }
     }
     .wrapper-1{
       height: fit-content;
       position: sticky;
       top:0;
     
       border-radius: 10px;

       .logo{
         margin-left: 20px;
         width: 150px;
       }
     }
   }
   
   .nav-1{
     height: fit-content;
     position: sticky;
     top: 0;
     .outer-wrapper{
       height: fit-content;
       box-shadow: 0 0 5px rgb(245, 165, 165);
       border-radius: 10px;
       transition: width 200ms linear,max-width 200ms linear, border-radius 500ms linear;
     }
   }
}
@media only screen and (min-width: 992px){
  body{
    font-size: 18px;
  }
  nav{
    .wrapper-1{
      .menu{
        li{
          margin: 0 20px;
        }
      }
      .logo{
        width: 200px;
      }
    }
  }
  
}

@media only screen and (min-width: 1200px){
  body{
    font-size: 20px;
  }
  nav{
    .wrapper-1{
      .menu{
        li{
          .demo-btn{
          font-size: 0.78rem;
          padding: 15px 20px;
        }
        }
      }
      .logo{
        width: 250px;
      }
    }
    .wrapper-2{
      .menu{
        li{
          a{
            font-size: 0.9rem;
          }
        }
      }
    }
  }


}