


.our-work{
   padding: 80px 0;
   background: #fdfbfb;
  .wrapper{
    display: grid;
    grid-gap: 10px;
    max-width: 500px;
    margin: 0px auto;
    justify-items: center;
    .work-card{
        color: white;
       width: 250px;
       height: 370px;
      border-radius:10px;  
      box-sizing: border-box;
      box-shadow: 0px 0px 10px rgb(182, 182, 182);
      padding: 40px 20px;
       position: relative;
      .title{
        font-size: 1.5rem;
        font-weight: 700;
       
        overflow: hidden;
        margin-bottom: 10px;

      }
      .description{
        font-size: 0.8rem;
        color: rgb(199, 199, 199);
      }
      .btn{
        background: #e94560;
        color: white;
          position: absolute;
          padding:10px 20px;
          bottom: 20px;
          left: 20px;
          border-radius: 25px;
          font-size: 0.7rem;
      }
    }
    .work-card:nth-child(even){
      color: black;
      .description{
        color: black;
      }
    }
    .work-card:last-child{
      color: white;
    }
    
  }
}


@media only screen and (min-width: 576px){
  .our-work{
    .wrapper{
      grid-template-columns: 1fr 0.3fr 1fr;
      grid-template-rows: repeat(2, 370px 270px);
      grid-template-areas: "a a b" " c c c" "d e e" "f f f";
      .work-card{
        width: 100%;
        height: 100%;
        
      }
      .work-card:nth-child(1){
        grid-area: a;
      }
      .work-card:nth-child(2){
        grid-area: b;
      }
      .work-card:nth-child(3){
        grid-area: c;
              .title, .description{
        width: 50%;
      }
      }
      .work-card:nth-child(4){
        grid-area: d;
      }
      .work-card:nth-child(5){
        grid-area: e;
      }
      .work-card:nth-child(6){
        grid-area: f;
              .title, .description{
        width: 50%;
      }
      }
      

    }
  }
}

@media only screen and (min-width: 1200px){
  .our-work{
    padding: 150px 0 80px;
  }
}